/* ===========================
   DATATABLE ALIGNMENT FIX
=========================== */

#medicineInwardTable {
  width: 100% !important;
  table-layout: fixed !important;
  border-spacing: 0;
}

#medicineInwardTable {
  width: 100% !important;
  table-layout: fixed !important;
  border-spacing: 0;
}

/* Prevent header text wrapping */
table th,
table td {
  white-space: nowrap;
  vertical-align: middle;
  font-size: 14px;
}

/* Column widths (IMPORTANT) */
table th:nth-child(1),
table td:nth-child(1) { width: 70px; }

table th:nth-child(2),
table td:nth-child(2) { width: 120px; }

table th:nth-child(3),
table td:nth-child(3) { width: 140px; }

table th:nth-child(4),
table td:nth-child(4) { width: 120px; }

table th:nth-child(5),
table td:nth-child(5) { width: 110px; }

table th:nth-child(6),
table td:nth-child(6) { width: 120px; }

table th:nth-child(7),
table td:nth-child(7) { width: 90px; }

table th:nth-child(8),
table td:nth-child(8) { width: 90px; }

table th:nth-child(9),
table td:nth-child(9) { width: 80px; }

table th:nth-child(10),
table td:nth-child(10) { width: 160px; }

/* 
#medicineInwardTable th:nth-child(11),
#medicineInwardTable td:nth-child(11) { width: 170px; } */


/* ===== STICKY ACTION COLUMN – FINAL WORKING ===== */
table th:last-child,
table td:last-child {
  position: sticky !important;
  right: 0 !important;
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  z-index: 5;
  border-left: 1px solid #dee2e6;
}

table th:last-child {
  background-color: #e4e2fd !important;
  z-index: 10 !important;
}

table td:last-child i {
  margin: 0 6px;
  font-size: 15px;
  cursor: pointer;
}

::ng-deep .mat-mdc-form-field {
  height: 40px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px !important;
  align-items: center !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  min-height: 40px !important;
}

::ng-deep .mat-mdc-select-trigger {
  height: 40px !important;
  display: flex;
  align-items: center;
}

.custom-height {
  height: 40px;
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  z-index: 1000;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.dropdown-item {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 6px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}