.float-left .btn-group {
    margin-right: 5px;
}

.text-right .d-md-inline-block {
    margin-right: 5px;
}

.margin-right {
    margin-right: 5px;
}

/* Hide print section outside screen view WITHOUT display:none */
#printSection {
    position: fixed;
    left: -9999px;
    top: 0;
    width: 100%;
}

@media print {
    #printSection {
        left: 0 !important;
        top: 0 !important;
        position: absolute !important;
    }
}